<h3>SiroDev OpenAPI</h3>
post로 전송할 내용이 없는 경우에만 get 요청을 사용 가능합니다. 그 외의 경우는 post 요청만을 허용합니다.<br />
오류 신고 및 문의 : <a href="https://open.kakao.com/me/nko">https://open.kakao.com/me/nko</a>
<h2>끄투 쿼리 API</h2>
<ul>
  <li>/urls- 등록된 모든 서버의 정보를 불러옵니다. 삭제를 원하시면 담당자에게 연락해주세요.</li>
  <li>/word- 해당 단어의 뜻을 불러옵니다.
    <ul>
        <li>word - 뜻을 불러올 단어입니다.</li>
        <li>listing - 리스트 반환 여부입니다. 1 혹은 0만 허용되며, 기본값은 0입니다.</li>
    </ul>
  </li>
  <li>/status- 등록된 모든 서버의 상태를 불러옵니다.</li>
</ul>
<br>
<h2>프로젝트 끄투 API 프록시</h2>
<ul>
  <li>/starts - 특정 문자열로 시작하는 단어를 모두 불러옵니다.
    <ul>
        <li>query - 검색 기준이 되는 문자열입니다.</li>
    </ul>
  </li>
  <li>/ends - 특정 문자열로 끝나는 단어를 모두 불러옵니다.
    <ul>
        <li>query - 검색 기준이 되는 문자열입니다.</li>
    </ul>
  </li>
</ul>
<br>
<h2>스퀘어크립트 API</h2>
<ul>
  <li>/sqc/encode - 입력받은 문자열을 암호화합니다.
    <ul>
        <li>query - 암호화할 문자열입니다.</li>
    </ul>
  </li>
  <li>/sqc/decode- 입력받은 암호를 복호화합니다.
    <ul>
        <li>query - 복호화할 문자열입니다.</li>
    </ul>
  </li>
</ul>
<br>
<h2>기타 챗봇 유틸리티</h2>
<ul>
  <li>/ratio - 두 문자열을 받아, 유사도를 검사합니다.
    <ul>
        <li>base - 비교할 첫 번째 문자열입니다.</li>
        <li>compare - 비교할 두 번째 문자열입니다.</li>
    </ul>
  </li>
  <li>/eval - 주어진 코드를 실행합니다.
    <ul>
        <li>code - 실행할 코드입니다.</li>
        <li>lang - 해당 코드를 실행할 언어입니다.
            <ul>
                <li>/lang - 사용 가능한 언어 목록을 확인합니다.</li>
            </ul>
        </li>
        <li>stdin - 입력이 필요한 코드에서 입력할 내용입니다. (필수 아님)</li>
    </ul>
  </li>
</ul>

<div style='color: #666;'>SiroDev OpenAPI Copyright (C) 2017-2019 ネコP(preta@crowz.r-e.kr)<br />
이 프로그램은 제품에 대한 어떠한 형태의 보증도 제공되지 않습니다.<br />
이 프로그램은 자유 소프트웨어이며 배포 규정을 만족시키는 조건 아래 자유롭게 재배포할 수 있습니다.<br />
이에 대한 자세한 사항은 본 프로그램의 구현을 담은 다음 레포지토리에서 확인하십시오: <a target='_blank' href='https://github.com/Preta-Crowz/SiroDev-OpenAPI'>https://github.com/Preta-Crowz/SiroDev-OpenAPI</a></div>